<div class="input-group">
    <div class="input big">
        <label for="bonus" class="label">{{localize 'VAGABONDS.Bonus'}}</label>
        <input class="value" type="number" id="bonus" value="0" />
    </div>
    <div class="separatorLine"></div>
    <div class="input big">
        <label for="push" class="label">{{localize 'VAGABONDS.Push'}}</label>
        <input class="value" type="checkbox" id="push" value="1" />
    </div>
</div>