<div class="vagabonds-dialog">
    <div class="input-group">
        <div class="input big">
            <div class="label">{{localize "VAGABONDS.DamageAmount"}}</div>
            <div class="value">
                <input type="number" id="damage-amount" value="0" />
            </div>
        </div>
    </div>
</div>