<div class="vagabonds-dialog">
    <div class="input-group">
        <div class="input big">
            <div class="label">{{localize "VAGABONDS.DamageType"}}</div>
            <div class="value">
                <input type="radio" id="damage-type-physical" name="damage-type" value="physical" checked />
                <label for="damage-type-physical">{{localize "VAGABONDS.DamageTypePhysical"}}</label>

                <input type="radio" id="damage-type-mental" name="damage-type" value="mental" />
                <label for="damage-type-mental">{{localize "VAGABONDS.DamageTypeMental"}}</label>
            </div>
        </div>
        <div class="separator"></div>
        <div class="input big">
            <div class="label">{{localize "VAGABONDS.DamageAmount"}}</div>
            <div class="value">
                <input type="number" id="damage-amount" value="0" />
            </div>
        </div>
    </div>
</div>