@import url('https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica&display=swap');

:root {
    --color-shadow-primary: #222;
    --color-shadow-highlight: #888;
    --color-border-highlight-alt: #888;
    --color-border-highlight: #888;
}

.vagabonds.window-app .window-content {
    background: white;
    font-family: 'IM Fell DW Pica', serif;
    border-radius: 0;
    --form-field-height: 16px;
    --color-bg-option: #ddd;
}

.rollable:hover,
.rollable:focus {
    /* color: #000; */
    text-shadow: 0 0 10px var(--color-shadow-primary);
    cursor: pointer;
}

.vagabonds.sheet .input-group {
    border-radius: 10px;
    border: 2px solid #000;
    overflow: hidden;
}

.vagabonds.sheet .input-group .input {
    display: flex;
    flex-direction: row;
}

.vagabonds.sheet .input-group .input .label {
    flex: 1;
    text-align: center;
}

.vagabonds.sheet .input-group .input .value {
    flex: 2;
}

.vagabonds.sheet .input-group .input.big .label {
    font-size: 1.5rem;
}

.vagabonds.sheet .input-group .input.big .value {
    font-size: 1.5rem;
}

.vagabonds.sheet .seperatorLine {
    height: 2px;
    width: 100%;
    background: #000;
}

.vagabonds.sheet input {
    border: 0;
    border-radius: 0;
    background: none;
    background-color: white;
    height: auto;
}

.vagabonds.sheet .label {
    background-color: var(--color-bg-option);
    font-weight: bold;
}

.vagabonds .char-header {
    display: grid;
    grid-template-columns: 170px 3fr 150px;
    grid-template-rows: min-content min-content 1fr;
    column-gap: 10px;
    row-gap: 10px;
    grid-template-areas:
        "methods description image"
        "methods fatigue fatigue"
        "methods proficiencies talents";
}

.vagabonds .char-header .methods {
    grid-area: methods;
    display: flex;
    flex-direction: column;
    height: min-content;
}

.vagabonds .char-header .method {
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    background-color: var(--color-bg-option);
    padding: 0 0 0 3px;
}

.vagabonds .char-header .method .method-name {
    flex: 1;
}

.vagabonds .char-header .method .value {
    border: none;
    flex: 0 0 2em;
    height: 100%;
    background-color: #fff;
    padding: 1px 3px;
}

.vagabonds .char-header .method .method-used {
    margin: 0 3px 0 0;
    width: 15px;
    flex: none;
}

.vagabonds .method.attribute {
    background-color: #000;
    color: #ddd;
}

.vagabonds .method.attribute .label {
    background-color: #000;
}

.vagabonds .method.attribute .value {
    background-color: #000;
}

.vagabonds .char-header .description {
    grid-area: description;
    height: min-content;
}

.vagabonds .char-header .image {
    grid-area: image;
    width: 150px;
    height: auto;
    max-height: 168px;
    object-fit: cover;
}

.vagabonds .char-header .fatigue {
    grid-area: fatigue;
}

.vagabonds .char-header .attributes {
    grid-area: attributes;
}

.vagabonds .char-header .proficiencies {
    grid-area: proficiencies;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    position: relative;
    min-width: 250px;
}

.vagabonds .char-header .talents {
    grid-area: talents;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    position: relative;
    min-width: 125px;
}

.vagabonds .char-header .input-group .header {
    background-color: #000;
    color: #ddd;
    display: flex;
    justify-content: space-between;
    padding: 0 5px;
    flex: 0 0 100%;
    margin: 0 0 5px 0;
}

.vagabonds .char-header .input-group .divider33 {
    background-color: #000;
    left: 33.3333%;
    top: 0%;
    width: 1px;
    height: 100%;
    position: absolute;
}

.vagabonds .char-header .input-group .divider66 {
    background-color: #000;
    right: 33.3333%;
    top: 0%;
    width: 1px;
    height: 100%;
    position: absolute;
}

.vagabonds .char-header .input-group .divider50 {
    background-color: #000;
    right: 50%;
    top: 0%;
    width: 1px;
    height: 100%;
    position: absolute;
}

.vagabonds .char-header .proficiencies .proficiency {
    flex: 0 0 50%;
    display: flex;
    justify-content: space-between;
    padding: 0 5px;
}

.vagabonds .char-header .talents .talent {
    flex: 0 0 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 5px;
}

.vagabonds .item-controls {
    display: flex;
    gap: 2px;
}

.vagabonds .item-controls .item-control .fas {
    font-size: var(--font-size-11);
}

.roll.vagabondsdie.d6 {
    width: 32px;
    height: 32px;
    background-size: 32px 32px;
    padding: 5px;
}

.dice-roll .dice-tooltip {
    display: block;
}

.dice-tooltip .dice-rolls .roll.partial {
    color: #52470b;
    filter: sepia(0.5) hue-rotate(0deg);
}

.chat-message,
.dice-roll .dice-formula,
.dice-roll .dice-total,
button,
form button,
.directory .directory-header .header-search input,
.window-app .window-content,
.sheet.journal-entry .journal-entry-content,
#chat-form textarea,
#chat-controls .roll-type-select {
    /* background: rgba(255, 255, 255, 0.8); */
    background: #fff;
}

.vagabonds .inventory-wrapper {
    display: grid !important;
    grid-template-areas:
        "hands pack"
        "head pack"
        "body pack";
    grid-template-columns: 1fr 1fr;
    gap: 6px;
}

.vagabonds .inventory-wrapper .inventory-container {
    --item-height: 40px;
    --item-header-height: 18px;
    display: flex;
    flex-direction: column;
}

.vagabonds .inventory-wrapper .inventory-container .items-header {
    background: #000;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 0 5px;
    height: var(--item-header-height);
}

.vagabonds .inventory-wrapper .inventory-container .item {
    display: flex;
    /* justify-content: space-between; */
    padding: 5px;
    outline: 2px solid #000;
    outline-offset: -3px;
    border-radius: 8px;
}

.vagabonds .inventory-wrapper .inventory-container .item .item-name {
    display: flex;
    flex: 1;
    gap: 4px;
}

.vagabonds .inventory-wrapper .inventory-container .item .item-image {
    width: 30px;
    height: 30px;
}

.sheet header.sheet-header img {
    height: 100%;
    flex: 0 0 100px;
    object-fit: cover;
}

.input-group .value {
    display: flex;
}

.input-group .value div {
    margin: 0 3px;
}