@import url('https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica&display=swap');

:root {
    --color-shadow-primary: #222;
    --color-shadow-highlight: #888;
    --color-border-highlight-alt: #888;
    --color-border-highlight: #888;
}

.vagabonds.window-app .window-content,
.dialog-content {
    background: white;
    font-family: 'IM Fell DW Pica', serif;
    border-radius: 0;
    --form-field-height: 16px;
    --color-bg-option: #ddd;
}

.rollable:hover,
.rollable:focus {
    /* color: #000; */
    text-shadow: 0 0 10px var(--color-shadow-primary);
    cursor: pointer;
}

.input-group {
    border-radius: 10px;
    border: 2px solid #000;
    overflow: hidden;
}

.input-group .input {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    height: auto;
}

.input-group .input .label {
    flex: 0 0 160px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-group .input .value {
    flex: 3;
    font-size: var(--font-size-13);
}

.input-group .input.big .label {
    font-size: var(--font-size-20);
}

.input-group .input.big .value {
    font-size: var(--font-size-20);
    ;
}

.input-group .separator {
    height: 2px;
    width: 100%;
    background: #000;
}

.vagabonds.sheet input {
    border: 0;
    border-radius: 0;
    background: none;
    background-color: white;
    height: auto;
    flex: 1;
}

.vagabonds.sheet .label {
    background-color: var(--color-bg-option);
    font-weight: bold;
}

.vagabonds .char-header {
    display: grid;
    grid-template-columns: 170px 3fr 150px;
    grid-template-rows: min-content min-content 1fr;
    column-gap: 10px;
    row-gap: 10px;
    grid-template-areas:
        "methods description image"
        "methods fatigue fatigue"
        "methods proficiencies talents"
        "buttons buttons buttons";
}

.vagabonds .char-header .methods {
    grid-area: methods;
    display: flex;
    flex-direction: column;
    height: min-content;
}

.vagabonds .char-header .method {
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    background-color: var(--color-bg-option);
    padding: 0 0 0 3px;
}

.vagabonds .char-header .method .method-name {
    flex: 1;
}

.vagabonds .char-header .method .value {
    border: none;
    background-color: #fff;
    padding: 1px 3px;
    align-self: stretch;
}

.vagabonds .char-header .method .method-used {
    margin: 0 3px 0 0;
    width: 15px;
    flex: none;
}

.vagabonds .method.attribute {
    background-color: #000;
    color: #ddd;
}

.vagabonds .method.attribute .label {
    background-color: #000;
}

.vagabonds .method.attribute .value {
    background-color: #000;
    display: flex;
}

.vagabonds .char-header .description {
    grid-area: description;
    height: min-content;
}

.vagabonds .char-header .image {
    grid-area: image;
    display: flex;
    position: relative;
}

.vagabonds .char-header .image img {
    object-fit: contain;
    border: none;
    border-radius: 0;
}

img.incapacitated {
    padding: 20%;
    filter: drop-shadow(0px 0px 10px black);
    pointer-events: none;
    position: absolute;
}

.vagabonds .char-header .fatigue {
    grid-area: fatigue;
}

.vagabonds .char-header .buttons {
    grid-area: buttons;
}

.fatigue-bubble {
    cursor: pointer;
}

.vagabonds .char-header .attributes {
    grid-area: attributes;
}

.vagabonds .char-header .proficiencies {
    grid-area: proficiencies;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    position: relative;
    min-width: 250px;
}

.vagabonds .char-header .talents {
    grid-area: talents;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    position: relative;
    min-width: 125px;
}

.vagabonds .char-header .input-group .header {
    background-color: #000;
    color: #ddd;
    display: flex;
    justify-content: space-between;
    padding: 0 5px;
    flex: 0 0 100%;
    margin: 0 0 5px 0;
}

.vagabonds .char-header .input-group .divider33 {
    background-color: #000;
    left: 33.3333%;
    top: 0%;
    width: 1px;
    height: 100%;
    position: absolute;
}

.vagabonds .char-header .input-group .divider66 {
    background-color: #000;
    right: 33.3333%;
    top: 0%;
    width: 1px;
    height: 100%;
    position: absolute;
}

.vagabonds .char-header .input-group .divider50 {
    background-color: #000;
    right: 50%;
    top: 0%;
    width: 1px;
    height: 100%;
    position: absolute;
}

.flex50 {
    flex: 0 0 50%;
}

.proficiency {
    display: flex;
    justify-content: space-between;
    padding: 0 5px;
}

.vagabonds .char-header .talents .talent {
    flex: 0 0 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 5px;
}

.vagabonds .item-controls {
    display: flex;
    gap: 2px;
}

.vagabonds .item-controls .item-control .fas {
    font-size: var(--font-size-11);
}

.roll.vagabondsdie.d6 {
    width: 32px;
    height: 32px;
    background-size: 32px 32px;
    padding: 5px;
}

.dice-roll .dice-tooltip {
    display: block;
}

.dice-tooltip .dice-rolls .roll.partial {
    color: #52470b;
    filter: sepia(0.5) hue-rotate(0deg);
}

.chat-message,
.dice-roll .dice-formula,
.dice-roll .dice-total,
button,
form button,
.directory .directory-header .header-search input,
.window-app .window-content,
.sheet.journal-entry .journal-entry-content,
#chat-form textarea,
#chat-controls .roll-type-select {
    /* background: rgba(255, 255, 255, 0.8); */
    background: #fff;
}

.vagabonds .inventory-wrapper {
    column-count: 2;
    gap: 6px;
}

.vagabonds .inventory-wrapper .inventory-container {
    --item-height: 40px;
    --item-header-height: 18px;
    display: flex;
    flex-direction: column;
    height: fit-content;
    margin-bottom: 6px;
}

.vagabonds .inventory-wrapper .inventory-container .items-header,
.header {
    background: #000;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 0 5px;
    height: var(--item-header-height);
}

.vagabonds .inventory-wrapper .inventory-container .item {
    display: flex;
    padding: 5px;
    outline: 2px solid #000;
    outline-offset: -3px;
    border-radius: 8px;
}

.vagabonds .inventory-wrapper .inventory-container .item .item-name {
    display: flex;
    flex: 1;
    gap: 4px;
}

.vagabonds .inventory-wrapper .inventory-container .item .item-image {
    width: 30px;
    height: 30px;
}

.sheet header.sheet-header img {
    height: 100%;
    flex: 0 0 100px;
    object-fit: cover;
}

.input-group .value {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: auto;
}

.input-group .value div {
    margin: 1px;
}

.vagabonds-dialog>* {
    margin-bottom: 10px;
}

.vagabonds-dialog [type="checkbox"] {
    width: 15px;
    margin: 0 6px;
    flex: none;
}

.vagabonds-dialog select {
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    border-radius: 0;
}

.vagabonds-dialog [type="number"] {
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    border-radius: 0;
}

.vagabonds-dialog [type="number"]::-webkit-inner-spin-button {
    opacity: 1;
}

.vagabonds-dialog .label {
    background-color: var(--color-bg-option);
    padding: 0 3px;
    flex: auto;
}

.vagabonds-dialog .proficiency {
    padding: 0;
}

.vagabonds-dialog>.flexrow {
    gap: 6px;
}

.vagabonds-dialog .input-group {
    height: min-content;
}

h3 {
    border: none;
}

.input-group .input [type="checkbox"].value {
    margin: 3px;
}

.input-group .input [type="radio"] {
    display: none;
}

.input-group .input [type="radio"]+label {
    background: #fff;
    color: #000;
    flex: 1;
    text-align: center;
    cursor: pointer;
}

.input-group .input [type="radio"]:checked+label {
    background: #000;
    color: #fff;
}

.character {
    display: flex;
    flex-direction: column;
}

.character .sheet-body {
    flex: 1;
}

.tab.active {
    height: 100%;
}

.editor {
    height: 100%;
}

.bubble {
    border-radius: 50%;
    border: 2px solid #000;
    background-color: #fff;
    height: 20px;
    aspect-ratio: 1;
}

.bubble.filled {
    background-color: #000;
}

.bubble.inverted {
    border-color: #fff;
    background-color: #000;
}

.bubble.filled.inverted {
    background-color: #fff;
}

.method .bubble {
    height: 10px;
}

.input .value.trauma-conditions {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0 15px;
    padding: 0px 5px;
}

.input .value.trauma-conditions>.trauma-condition {
    font-size: var(--font-size-13);
    cursor: pointer;
}

.input .value.trauma-conditions .trauma-condition.checked {
    text-decoration: underline;
}

.buttons .button-bar {
    display: flex;
    gap: 3px;
    padding: 3px;
}

.buttons .button-bar a {
    border: 1px solid #000;
    border-radius: 5px;
    background: #000;
    color: #fff;
    padding: 0 7px;
}

.buttons .button-bar a:hover {
    background: #555;
}